.imageDiv {
  height: 30svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageDiv img {
  width: 100%;
  height: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  object-fit: cover;
}

.witheDiv {
  height: 70svh;
  background: #eee;
}

.dialogDiv {
  max-width: 550px;
  padding: 53px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;

}

.dialogDiv div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #073156;
  text-align: center;
}

.dialogDiv p {
  margin-top: 19px;
}

.formStyle {
  width: 100%;
}

.textInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 39px;
}

.textInput .loginInput {
  box-sizing: border-box; /* asegura que el ancho incluya el padding y el borde */
  width: 100%;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  appearance: none;
  border-radius: 8px;
  border: none;
  padding: 0px 0px 0px 53px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 23px;
  margin-bottom: 37px;
}

.textInput label {
  width: 100%;
  position: relative;
}

.textInput label > .icon {
  position: absolute;
  top: auto;
  top: 18px;
  left: 20px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .dialogDiv {
    width: 90%;
    padding: 25px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .LoginPageForm {
    width: 50%;
  } */
}

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
} */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* .LoginPageForm {
    width: 30%;
  } */
}
