.inputsCategoryForm {
  display: flex;
  flex-direction: row;
  margin-inline: 6%;
  margin-top: 80px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.inputsTextFromCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-inline: 1%;
}

.inputPicCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 2%;
}

.ProductBtnCtgry {
  display: flex;
  flex-direction: row;
  margin-inline: 6%;
  margin-block: 30px;
  justify-content: flex-end;
}

.nameCategory {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 5%;
}

.textareaCategory {
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  outline: none;
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding-block: 10px;
  padding-left: 3px;
  height: 100px;
  max-width: 100%;
}

.rectanglegrey {
  background-color: #eeeeee;
  min-height: 300px;
  width: 100%;
  max-width: 250px;
  margin: 25px;
}

.addImagenCategory {
  height: 100px;
  position: absolute;
}

.imagePreview {
  margin: 25px;

  width: 100%;
  max-width: 250px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .inputsCategoryForm {
    flex-direction: column;
    width: auto;
  }

  .inputsTextFromCategory {
    width: 100%;
  }

  .inputPicCategory {
    width: 100%;
  }
  
  .addImagen {
    height: 100px;
    position: absolute;
  }
}

@media screen and (max-width: 470px) {
}
