.inputsComponentForm {
  display: flex;
  flex-direction: row;
  margin-inline: 6%;
  margin-top: 80px;
  margin-bottom: 50px;
  /* justify-content: space-between; */
}

.inputsTextFrom {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-inline: 1%;
}

.inputPic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  flex-wrap: wrap;
  align-content: flex-end;
}

.twoinput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.oneinput {
  margin-bottom: 5%;
}

.nameProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  width: 100%;
}

.categoryProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  width: 48%;
}

.codeProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 48%;
}

.supplierProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  width: 48%;
}

.priceProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 48%;
}

.stockProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  width: 48%;
}

.textareaProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  outline: none;

  width: 100%;
  padding-block: 10px;
  padding-left: 3px;
  height: 100px;
  max-width: 100%;
}

.stock-alertProduct {
  color: #7f7f7f;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  width: 48%;
}

.add-image {
  color: #00acc2;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 90px;
  margin-top: 5%;

  cursor: pointer;
}

.doneBtn {
  color: #ffffff;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  white-space: nowrap;

  background-color: #00acc2;
  border-color: transparent;
  border-radius: 4px;
  height: 47px;
  width: 220px;
  margin-left: 20px;

  cursor: pointer;

  transition-duration: 0.4s;
}

.doneBtn:hover {
  background-color: #198591;
}

.backBtn {
  color: #585858;
  background-color: #eeeeee;
  font-family: 'Roboto-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  white-space: nowrap;

  border: 1px solid;
  border-color: #f2f2f2;
  border-radius: 4px;
  height: 47px;
  width: 220px;

  transition-duration: 0.4s;

  cursor: pointer;
}

.backBtn:hover {
  background-color: #d9d9d9;
  color: black;
}

.ProductBtn {
  display: flex;
  flex-direction: row;
  margin-inline: 6%;
  margin-block: 30px;
  justify-content: flex-end;
}

.rectangle-3 {
  background-color: #eeeeee;
  height: 50%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* max-width: 80%;
  max-height: 80%; */
}

.bx-image-add {
  height: 15%;
  position: absolute;
}

.add-item {
  color: #ffffff;
  font-family: 'Roboto-Medium', Helvetica;
  font-size: 18px;
  font-weight: 500;
  z-index: +1;
  padding-inline: 10px;
}

.bx-add-to-queue {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 800px) {
  .componentCreateProductForm {
    margin: 16px;
    position: relative;
  }

  .inputsComponentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .twoinput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0%;
  }

  .oneinput {
    margin-bottom: 0%;
  }

  .nameProduct {
    width: 100%;
    margin-block: 5%;
  }

  .textareaProduct {
    width: 100%;
    margin-block: 5%;
  }

  .codeProduct {
    width: 100%;
    margin-block: 5%;
  }

  .priceProduct {
    width: 100%;
    margin-block: 5%;
  }
  .stockProduct {
    width: 100%;
    margin-block: 5%;
  }

  .stock-alertProduct {
    width: 100%;
    margin-block: 5%;
  }

  .categoryProduct {
    width: 100%;
    margin-block: 5%;
  }

  .supplierProduct {
    width: 100%;
    margin-block: 5%;
  }

  .descriptionProduct {
    margin-top: 5%;
  }

  .inputsTextFrom {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: 1%;
  }

  .inputPic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-block: 5%;
    align-content: center;
  }

  .rectangle-3 {
    background-color: #eeeeee;
    height: 150px;
    width: 180px;
  }

  .bx-image-add {
    width: 10%;
    position: absolute;
  }

  .ProductBtn {
    display: flex;
    flex-direction: row;
    margin-inline: 6%;
    margin-bottom: 30px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 470px) {
  .componentCreateProductForm {
    margin-block: 24px;
    margin-inline: 8px;
    position: relative;
  }

  .inputsComponentForm {
    margin-bottom: 0px;
  }

  .ProductBtn {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    align-items: center;
  }

  .twoinput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0%;
  }

  .rectangle-3 {
    height: 115px;
  }

  .nameProduct {
    width: 100%;
    margin-block: 5%;
  }

  .codeProduct {
    width: 100%;
    margin-block: 5%;
  }

  .priceProduct {
    width: 100%;
    margin-block: 5%;
  }

  .textareaProduct {
    width: 100%;
    margin-block: 5%;
  }
  .oneinput {
    margin-bottom: 0%;
  }
  .doneBtn {
    color: #ffffff;
    font-family: 'Roboto-Regular', Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;

    background-color: #00acc2;
    border-color: transparent;
    border-radius: 4px;
    height: 47px;
    width: 100%;
    margin-left: 0px;
    margin-block: 6px;
  }

  .backBtn {
    color: #585858;
    background-color: #eeeeee;
    font-family: 'Roboto-Regular', Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;

    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 4px;
    height: 47px;
    width: 100%;
    margin-block: 6px;
  }
}
