@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0;
}

/* NOTISTACK */

.notistackButton {
  background:none;
  border: none;
  font-weight: 500;
  color: black;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  outline: none;
}

.notistackButton:hover {
  background:  rgb(107, 107, 107, 0.2);
}